<div id="positioning-div">
  <div>
    <h2>Ask Questions</h2>
    <p>With Truthfully you can ask anonymous</p>
    <img src="../../../assets/anon.png" alt="">
  </div>

  <div>
    <h2>True or False</h2>
    <p>Respond to all question with only true or false</p>
    <img src="../../../assets/truefalse.png" alt="">
  </div>

  <div>
    <h2>Respond to Questions</h2>
    <p>See what questions people want to ask you</p>
    <img src="../../../assets/questions.png" alt="">
  </div>
</div>

<button (click)="redirect('sign-up')"><strong>Sign Up</strong></button>