#top-row {
    background: white;
    margin: 0;
    padding: 2%;
}

#top-row > p {
    font-size: 3em;
}

#ask {
    display: block;
    width: 50%;
    height: 10%;
    margin: 2% auto;
    padding: 2%;
    background: white;
    border: gray solid 2px;
}

.questions {
    width: 50%;
    margin: 2% auto;
    padding: 2%;
    background: white;
    border: gray solid 2px;
}

.questions > p {
    font-size: 1.5em;
    text-align: center;
}