body {
    background: #4DDB90;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background: black;
    border: 1px grey solid;
    border-radius: 20px;
    width: 15%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1% 1.5%;
    display: block;
    margin: auto;
}